.tip-calc-main { min-height: 100dvh; display: flex; justify-content: center; align-items: center; max-width: 700px; margin: 0 auto; }
.tip-calc-main h1 { margin-bottom: 5rem; }
.splitter-wrapper { background-color: hsl(0, 0%, 100%); padding: 4rem; border-radius: 1.2rem; box-shadow: 0 0 3px rgba(0, 0, 0, .11); }
.splitter-grid-outer { display: flex; }
.splitter-grid-outer .splitter-left { flex: 0 0 55%; max-width: 55%; padding-right: 4rem; }
.splitter-grid-outer .splitter-right { flex: 0 0 45%; max-width: 45%; }
.splitter-green-box { display: flex; flex-direction: column; justify-content: space-between; height: 100%; padding: 2rem; border-radius: 1.2rem; background-color: hsl(183, 100%, 15%); }
.output-text + .output-text { margin-top: 2rem; }
.output-text { display: flex; justify-content: space-between; align-items: center; }
.output-text .output-label { color: #FFF; font-size: 18px; font-weight: 400; }
.output-text .output-label span { display: block; font-size: 1.2rem; color: hsl(185, 41%, 84%); }
.output-text .rupees { font-size: 2.8rem; color: #26C2AD; }
.form-group { position: relative; }
.form-group img { position: absolute; bottom: 1.1rem; left: 1.1rem; }
.form-group:not(:last-child) { margin-bottom: 1.5rem; }
.form-group .form-label { color: hsl(186, 14%, 43%); display: block; font-size: 1.6rem; margin-bottom: 0.5rem; }
.form-group .form-control { background-color: #F3F8FB; border: 0; height: 4rem; line-height: 4rem; color: hsl(183, 100%, 15%); text-align: right; font-size: 2.2rem; font-weight: 700; padding: 0 1.5rem 0 3rem; width: 100%; border: 0.2rem solid transparent; transition: all 0.3s; border-radius: 0.5rem; }
.form-group .form-control:focus { border-color: #9FE8DF; }
.form-group .form-control::placeholder { font-size: 2.2rem; font-weight: 700; color: hsl(183, 100%, 15%); }
.form-group input::-webkit-inner-spin-button { display: none !important; }
.radio-wrapper { display: flex; flex-wrap: wrap; margin: 0 -0.8rem -1rem; }
.radio-wrapper .form-label { flex: 0 0 100%; max-width: 100%; padding: 0 0.8rem 0; }
.radio-wrapper .radio-btn { flex: 0 0 33.33%; max-width: 33.33%; text-align: center; padding: 0 0.8rem 1rem; position: relative; }
.radio-wrapper .radio-btn .text-input { width: 100%; text-align: center; background-color: #F3F8FB; border: 0; height: 4rem; line-height: 4rem; color: hsl(183, 100%, 15%); font-size: 1.2rem; font-weight: 700; padding: 0 1.5rem; width: 100%; text-transform: capitalize; border: 0.2rem solid transparent; transition: all 0.3s; border-radius: 0.5rem; }
.radio-wrapper .radio-btn .text-input:focus { border-color: #9FE8DF; }
.radio-wrapper .radio-btn .text-input::placeholder { font-size: 1.2rem; font-weight: 700; color: hsl(183, 100%, 15%); }
.radio-wrapper .radio-btn input:not(.text-input) { position: absolute; top: 0; left: 0; bottom: 0; right: 0; cursor: pointer; opacity: 0; z-index: 1; }
.radio-wrapper .radio-btn label { position: relative; height: 42px; width: 100%; border-radius: 0.5rem; display: inline-block; text-align: center; line-height: 42px; transition: all .3s; font-weight: 600; font-size: 2.2rem; color: #26C2AD; background-color: #00474B; }
.radio-wrapper .radio-btn input:checked + label { background-color: #9FE8DF; color: #00474B; }
@media(max-width:700px) {
    .splitter-grid-outer { flex-wrap: wrap; }
    .splitter-grid-outer .splitter-left { flex: 0 0 100%; max-width: 100%; padding-right: 0; padding-bottom: 3rem; }
    .splitter-grid-outer .splitter-right { flex: 0 0 100%; max-width: 100%; }
    .splitter-green-box { min-height: 28rem; }
    .splitter-wrapper { padding: 2rem }
    .radio-wrapper .radio-btn { padding: 0 0.4rem 1rem; }
    .radio-wrapper .radio-btn label { font-size: 2rem; }
    .output-text .output-label { font-size: 14px; }
    .output-text .output-label span { font-size: 1rem; }
    .output-text .rupees { font-size: 2.4rem; }
}
